* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: black;
  min-height: 2000px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 7%;
  background-color: rgb(165, 206, 18);
  border-bottom: 1px solid rgb(136, 29, 207);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(11, 35, 56);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #498306;
}

.navbar .navbar-nav a {
  color: aliceblue;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  padding: 10px;
  border: 1px;
  background-color: rgb(7, 192, 115);
  border-radius: 20px;
}

.navbar .navbar-nav a:hover {
  color: rgb(7, 192, 115);
  background-color: whitesmoke;
  border: 1px;
  border-radius: 20px;
  transition: 0.5s;
}

.navbar .navbar-extra a {
  color: aliceblue;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: black;
}

#hamburger-menu {
  display: none;
}

/* home section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/daftarmenu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0 0 20px 20px;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: aliceblue;
  text-shadow: 3px 4px 3px rgb(28, 194, 139);
  line-height: 1.2;
}

.hero .content p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 0.5px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: rgb(28, 194, 139);
  border-radius: 1rem;
  box-shadow: 2px 2px 3px #3c0aee;
}

/* about section */
.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 40px;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-top: 0.8rem;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1.6fff;
}

/* produk */
.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6,
.pimg7 {
  position: relative;
  opacity: 0.71;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed = parallax
  scroll = normal */
  background-attachment: fixed;
  border-radius: 30px 30px 0 0;
}
.pimg1 {
  /* background-image: url("../background/daftarmenu.jpg"); */
  min-height: 150px;
}

.pimg2 {
  background-image: url("../background/soup.jpg");
  min-height: 200px;
}

.pimg3 {
  background-image: url("../background/soto.jpg");
  min-height: 200px;
}

.pimg4 {
  background-image: url("../background/lokasi.jpg");
  min-height: 200px;
}
.pimg5 {
  background-image: url("../background/kari.jpg");
  min-height: 200px;
}

.pimg6 {
  background-image: url("../background/bandrek.jpg");
  min-height: 200px;
}

.pimg7 {
  background-image: url("../background/semur.jpg");
  min-height: 200px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-kari {
  background-color: #659747;
  color: #ffffff;
  border-radius: 0 0 30px 30px;
  font-size: 20px;
}

.section-soup {
  background-color: #a0c0cf;
  color: #000000;
  border-radius: 0 0 30px 30px;
  font-size: 20px;
}

.section-soto {
  background-color: #9cb415;
  color: #ffffff;
  border-radius: 0 0 30px 30px;
  font-size: 20px;
}

.section-bandrek {
  background-color: #b47415;
  color: #ffffff;
  border-radius: 0 0 30px 30px;
  font-size: 20px;
}

.section-semur {
  background-color: #a5895f;
  color: #ffffff;
  border-radius: 0 0 30px 30px;
  font-size: 20px;
}
.section img {
  width: 100%;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  max-width: 200px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 40px;
  border-radius: 40px;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.ptext .border.kari {
  background-color: #659747;
  padding-top: 30px;
  border-radius: 40px;
}

.ptext .border.soup {
  background-color: #a0c0cf;
  padding-top: 30px;
  border-radius: 40px;
}

.ptext .border.soto {
  background-color: #9cb415;
  padding-top: 30px;
  border-radius: 40px;
}

.ptext .border.bandrek {
  background-color: #b47415;
  padding-top: 30px;
  border-radius: 40px;
}

.ptext .border.semur {
  background-color: #a5895f;
  padding-top: 30px;
  border-radius: 40px;
  color: #ffffff;
}
.footer {
  background-color: rgb(59, 212, 38);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

.footer .socials {
  padding: 1rem 0;
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: green;
    width: 30rem;
    height: 100vh;
    transition: 0.7s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: green;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .section {
    text-align: center;
    padding: 20px;
  }
}

/* handpone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .section {
    text-align: center;
    padding: 20px;
  }
  .pimg1,
  .pimg2,
  .pimg3,
  .pimg4,
  .pimg5 {
    background-attachment: scroll;
  }
}
